xsd/ssidset.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.zeemanconsult.com"
xmlns="http://www.zeemanconsult.com"
elementFormDefault="qualified">
<xs:element name="ssidparameterset">
   <xs:annotation>
      <xs:documentation>SSID Parameter Set Description v0.1 - Schema Version 0.1, compatible with script vx.y.z</xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element name="globalparams">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="psname"><xs:simpleType>
                     <xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="80"/></xs:restriction></xs:simpleType></xs:element>
                  <xs:element name="psversion"><xs:simpleType>
                     <xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element>
 				  <xs:element name="psdate">
					  <xs:simpleType>
						 <xs:restriction base="xs:string"><xs:minLength value="10"/><xs:maxLength value="10"/>
						 <xs:pattern value="[0-3][0-9]/[0-1][0-9]/202[6-9]"/></xs:restriction>
					  </xs:simpleType>
				   </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ssidsets">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ssidset" maxOccurs="9" minOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ssidstatus" type="xs:boolean"/>
							<xs:element name="ssidname"><xs:simpleType>
								<xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="32"/></xs:restriction></xs:simpleType></xs:element>
							<xs:element name="rfband">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="5ghz"/>
										<xs:enumeration value="2.4ghz"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ssidbroadcast" type="xs:boolean"/>
							<xs:element name="wpa-passphrase"><xs:simpleType>
								<xs:restriction base="xs:string"><xs:minLength value="8"/><xs:maxLength value="63"/></xs:restriction></xs:simpleType></xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:element>
</xs:schema>
